@font-face {
    font-family: "bmjua";
    src: url("fonts/BMJUA_ttf.ttf")
}

* {
    box-sizing: border-box;
    font-family: "bmjua";
    color: #58595B;
    margin: 0;
    font-weight: 300;
}

body{
    background-color: #F0E8D9;
}

.food-container {
    margin-left: auto;
    margin-right: auto;
    width: 660px;
}

.header{
    font-size: 64px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 75px;
}
.small_header{
    font-size: 32px;
    text-align: center;
    margin-bottom: 75px;
}


img {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;

}

.content{
    background-color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 50px;
    float: left;
}

.info {
    padding: 20px;
}

.content h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px
}

.content h2{
    font-size: 16px;
    margin-bottom: 16px;
}


.buy {
    color: #0000EE;
    text-align: center;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.chicken {
    margin-right: 30px;
}

.burger {
    margin-right: 30px;
    clear: left;
}

